.background{
    -fx-background-color : #000000;

}

.boutons{
    -fx-background-color : #000000;
    -fx-background-radius : 20px;


    -fx-text-fill : #ffe611;
    -fx-font-size : 20px;


    -fx-border-color : #ffe611;
    -fx-border-width : 2;
    -fx-border-radius : 20px;
}

.boutons:hover{
    -fx-background-color : #ffe611;
    -fx-background-radius : 20px;

    -fx-text-fill : #000000;
    -fx-font-size : 20px;

    -fx-border-color : #3b40db;
    -fx-border-width : 2;
    -fx-border-radius : 20px;
}

.title{
    -fx-font-family : Helvetica;
    -fx-font-size : 64px;
    -fx-color : #ffe611;
    -fx-stroke : #3b40db;
    -fx-stroke-width : 2px;
}
.text{
    -fx-text-fill : #ffe611;
    -fx-font-size : 20px;
}

.labelScore{
    -fx-font-family : Helvetica;
    -fx-font-size : 18px;
    -fx-text-fill : #ffffff;
    -fx-text-alignemt : center;
    -fx-padding : 2px 0px 3px 0px;
}
.boutons2{
    -fx-background-color : #000000;
    -fx-background-radius : 20px;

    -fx-padding:20,60,20,60;

    -fx-text-fill : #ffe611;
    -fx-font-size : 20px;


    -fx-border-color : #ffe611;
    -fx-border-width : 2;
    -fx-border-radius : 20px;
}
.boutons2:hover{
    -fx-background-color : #ffe611;
    -fx-background-radius : 20px;

    -fx-padding:20,20,20,20;

    -fx-text-fill : #000000;
    -fx-font-size : 20px;

    -fx-border-color : #3b40db;
    -fx-border-width : 2;
    -fx-border-radius : 20px;
}